#cont1{
    margin: 0 auto;
    border: solid black;
    width: 50px;
    padding:100px;
    background-color: red;

}

#cont2{
    margin: 0 auto;
    border:solid green;
    width:50px;
    padding: 100px;
    background-color: blue;
    color:aliceblue;
    font-size: larger;
}
